.main-wrapper {
  background-image: url('../../assets/image/bg.jpg');
  background-size: 100% 100%;
}

.draw-btn {
  background-image: url('../../assets/image/center.jpg');
  background-size: 100% 100%;
}

.prize-image {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.prize1 {
  background-image: url('../../assets/image/prize1.png');
}
.prize2 {
  background-image: url('../../assets/image/prize2.png');
}
.prize3 {
  background-image: url('../../assets/image/prize3.jpg');
}
.prize4 {
  background-image: url('../../assets/image/prize4.png');
}
.prize5 {
  background-image: url('../../assets/image/prize5.png');
}
.prize6 {
  background-image: url('../../assets/image/prize6.png');
}

.gift-3000 {
  background-image: url('../../assets/image/3000.jpg');
}
.gift-5000 {
  background-image: url('../../assets/image/5000.jpg');
}

.gift-6000 {
  background-image: url('../../assets/image/6000.jpg');
}

.gift-7000 {
  background-image: url('../../assets/image/7000.jpg');
}

.gift-10000 {
  background-image: url('../../assets/image/10000.jpg');
}

.gift-20000 {
  background-image: url('../../assets/image/20000.jpg');
}

.gift-30000 {
  background-image: url('../../assets/image/30000.jpg');
}

.gift-50000 {
  background-image: url('../../assets/image/50000.jpg');
}

.gift-150000 {
  background-image: url('../../assets/image/150000.jpg');
}
